In [20]:
import pandas as pd
import numpy as np
import sys
import nbimporter
#import sources.endomondolib as endo
#import sources.pysparkconvenience as ps
from numpy import array
from math import sqrt
from pyspark.sql.functions import *
from pyspark.mllib.clustering import KMeans, KMeansModel
from pyspark.sql import DataFrameReader
from pyspark.sql import SQLContext
from IPython.display import display, HTML
from pyspark.sql.functions import col
from pyspark.mllib.linalg import Vectors

from pyspark.ml.feature import VectorAssembler

# Disable warnings, set Matplotlib inline plotting and load Pandas package
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline
pd.options.display.mpl_style = 'default'

#%load_ext autotime

In [2]:
#####RDD Function Area######
def print_rdd(rdd):
    for x in rdd.collect():
        print x
        
#create pyspark dataframe from rdd
def df_from_rdd(rdd):
    pass

#create pyspark dataframe from csv
def df_from_csv(csv_file):
    text = sc.textFile(csv_file)\
        .map(lambda line: line.split(","))
    #didn't work with take(1). believe returns 
    #different object then first()
    schema = text.first()
    data = text.filter(lambda x: x != schema)
    df = sqlContext.createDataFrame(data, schema)
    return df

In [3]:
####FUNCTION AREA###########

#get workout info for workoutid
def get_rdd_workout_from_workoutid(workoutid, df_workouts):
    filtered_df = df_workouts.filter(df_workouts['workoutid']==workoutid)
    return filtered_df
    
'''
##given user id, returns dataframe of workouts by that user
##NOT DONE
def get_workouts_for_userid(userid, df_workout):
    #get workoutIds done by this user
    workout_ids = df_workout\
        .filter(df_workout['userid']==userid)\
        .select('workoutid').flatMap(lambda x:x).collect()
    print workout_ids
    df = df_sport.where(col("workoutid").isin(workout_ids))
    print df.show()
    print df.count()
    return userid
'''

#get workoutids for user
def get_rdd_workoutids_for_userid(userid, df_workouts):
    filtered_df = df_workouts.filter(df_workouts['id']==userid)
    workoutids = filtered_df.select('workoutid').flatMap(list)
    return workoutids

#convert type of a column of a df
def convertColumn(df, name, new_type):
    df_1 = df.withColumnRenamed(name, "swap")
    return df_1.withColumn(name, df_1["swap"].cast(new_type)).drop("swap")



# #fills 
# def fill_na_with_values(dict){
    
# }

In [4]:
url = 'postgresql://34.199.246.37:5432/endomondo'
properties = {'user':'endomondo', 'password':'End0m0ndo'}

df_workouts = DataFrameReader(sqlContext).jdbc(
   url='jdbc:%s' % url, table='public.run_sub_with_hr', properties=properties
)

df_users = DataFrameReader(sqlContext).jdbc(
   url='jdbc:%s' % url, table='public.run_sub_with_hr_users', properties=properties
)

In [19]:
print type(df_workouts)
print type(df_users)
df_users = df_users.head(2)

<class 'pyspark.sql.dataframe.DataFrame'>
<class 'pyspark.sql.dataframe.DataFrame'>

Py4JJavaError: An error occurred while calling z:org.apache.spark.sql.execution.EvaluatePython.takeAndServe.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 8.0 failed 1 times, most recent failure: Lost task 0.0 in stage 8.0 (TID 8, localhost): java.lang.NullPointerException
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$$anon$1.getNext(JDBCRDD.scala:442)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$$anon$1.hasNext(JDBCRDD.scala:518)
	at scala.collection.Iterator$$anon$14.hasNext(Iterator.scala:388)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:327)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:308)
	at scala.collection.Iterator$class.foreach(Iterator.scala:727)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1157)
	at scala.collection.generic.Growable$class.$plus$plus$eq(Growable.scala:48)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:103)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:47)
	at scala.collection.TraversableOnce$class.to(TraversableOnce.scala:273)
	at scala.collection.AbstractIterator.to(Iterator.scala:1157)
	at scala.collection.TraversableOnce$class.toBuffer(TraversableOnce.scala:265)
	at scala.collection.AbstractIterator.toBuffer(Iterator.scala:1157)
	at scala.collection.TraversableOnce$class.toArray(TraversableOnce.scala:252)
	at scala.collection.AbstractIterator.toArray(Iterator.scala:1157)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$5.apply(SparkPlan.scala:212)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$5.apply(SparkPlan.scala:212)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:1858)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:1858)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:66)
	at org.apache.spark.scheduler.Task.run(Task.scala:89)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:213)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	at java.lang.Thread.run(Thread.java:745)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1431)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1419)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1418)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:47)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1418)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:799)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:799)
	at scala.Option.foreach(Option.scala:236)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:799)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1640)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1599)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1588)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:620)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1832)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1845)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1858)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:212)
	at org.apache.spark.sql.execution.EvaluatePython$$anonfun$takeAndServe$1.apply$mcI$sp(python.scala:126)
	at org.apache.spark.sql.execution.EvaluatePython$$anonfun$takeAndServe$1.apply(python.scala:124)
	at org.apache.spark.sql.execution.EvaluatePython$$anonfun$takeAndServe$1.apply(python.scala:124)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:56)
	at org.apache.spark.sql.DataFrame.withNewExecutionId(DataFrame.scala:2125)
	at org.apache.spark.sql.execution.EvaluatePython$.takeAndServe(python.scala:124)
	at org.apache.spark.sql.execution.EvaluatePython.takeAndServe(python.scala)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:497)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:231)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:381)
	at py4j.Gateway.invoke(Gateway.java:259)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:133)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:209)
	at java.lang.Thread.run(Thread.java:745)
Caused by: java.lang.NullPointerException
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$$anon$1.getNext(JDBCRDD.scala:442)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$$anon$1.hasNext(JDBCRDD.scala:518)
	at scala.collection.Iterator$$anon$14.hasNext(Iterator.scala:388)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:327)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:308)
	at scala.collection.Iterator$class.foreach(Iterator.scala:727)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1157)
	at scala.collection.generic.Growable$class.$plus$plus$eq(Growable.scala:48)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:103)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:47)
	at scala.collection.TraversableOnce$class.to(TraversableOnce.scala:273)
	at scala.collection.AbstractIterator.to(Iterator.scala:1157)
	at scala.collection.TraversableOnce$class.toBuffer(TraversableOnce.scala:265)
	at scala.collection.AbstractIterator.toBuffer(Iterator.scala:1157)
	at scala.collection.TraversableOnce$class.toArray(TraversableOnce.scala:252)
	at scala.collection.AbstractIterator.toArray(Iterator.scala:1157)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$5.apply(SparkPlan.scala:212)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$5.apply(SparkPlan.scala:212)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:1858)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:1858)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:66)
	at org.apache.spark.scheduler.Task.run(Task.scala:89)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:213)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	... 1 more

In [18]:
df_workouts.toPandas()

,time,altitude,heart_rate,latitude,longitude,speed,workoutid,id
0,1433852797,None,156.00000,55.7094071000,37.7599174000,None,538958939,1188410
1,1433852805,None,155.00000,55.7094071000,37.7599174000,None,538958939,1188411
2,1433852810,None,155.00000,55.7095247000,37.7596090000,None,538958939,1188412
3,1433852812,None,159.00000,55.7095408000,37.7595179000,None,538958939,1188413
4,1433852815,None,159.00000,55.7095773000,37.7593918000,None,538958939,1188414
5,1433852821,None,156.00000,55.7096140000,37.7591375000,None,538958939,1188415
6,1433852825,None,155.00000,55.7096398000,37.7590429000,None,538958939,1188416
7,1433852828,None,155.00000,55.7096398000,37.7590429000,None,538958939,1188417
8,1433682342,None,102.00000,55.7094226000,37.7584615000,None,537562356,1188418
9,1433682342,None,102.00000,55.7094226000,37.7584615000,None,537562356,1188419
10,1433682349,None,98.00000,55.7093933000,37.7585321000,None,537562356,1188420
11,1433682355,None,100.00000,55.7093422000,37.7587603000,None,537562356,1188421
12,1433682359,None,95.00000,55.7093148000,37.7589217000,None,537562356,1188422
13,1433682363,None,94.00000,55.7092755000,37.7590943000,None,537562356,1188423
14,1433682367,None,101.00000,55.7092277000,37.7592732000,None,537562356,1188424
15,1433682371,None,103.00000,55.7092137000,37.7594770000,None,537562356,1188425
16,1433682376,None,106.00000,55.7092519000,37.7597203000,None,537562356,1188426
17,1433682378,None,110.00000,55.7093039000,37.7597940000,None,537562356,1188427
18,1433682380,None,110.00000,55.7093600000,37.7598528000,None,537562356,1188428
19,1433682382,None,110.00000,55.7094061000,37.7598994000,None,537562356,1188429
20,1433682385,None,116.00000,55.7094593000,37.7599566000,None,537562356,1188430
21,1433682387,None,116.00000,55.7095225000,37.7599438000,None,537562356,1188431
22,1433682390,None,117.00000,55.7096343000,37.7598808000,None,537562356,1188432
23,1433682393,None,118.00000,55.7097261000,37.7597627000,None,537562356,1188433
24,1433682396,None,120.00000,55.7097526000,37.7596032000,None,537562356,1188434
25,1433682398,None,121.00000,55.7097597000,37.7594820000,None,537562356,1188435
26,1433682401,None,121.00000,55.7097578000,37.7593841000,None,537562356,1188436
27,1433682402,None,121.00000,55.7097375000,37.7592911000,None,537562356,1188437
28,1433682407,None,125.00000,55.7097275000,37.7591083000,None,537562356,1188438
29,1433682412,None,126.00000,55.7097595000,37.7589155000,None,537562356,1188439
...,...,...,...,...,...,...,...,...
299970,1370954801,-179.0000000000,151.00000,53.8021040000,-2.3265050000,None,201973267,1583420
299971,1370954807,-179.0000000000,151.00000,53.8019450000,-2.3267120000,None,201973267,1583421
299972,1370954813,-181.0000000000,150.00000,53.8018010000,-2.3269050000,None,201973267,1583422
299973,1370954821,-183.0000000000,149.00000,53.8015850000,-2.3271380000,None,201973267,1583423
299974,1370954829,-184.2200000000,148.00000,53.8014060000,-2.3271940000,None,201973267,1583424
299975,1370954836,-185.0000000000,149.00000,53.8013190000,-2.3268550000,None,201973267,1583425
299976,1370954843,-185.0000000000,151.00000,53.8012360000,-2.3265170000,None,201973267,1583426
299977,1370954851,-184.0000000000,154.00000,53.8011180000,-2.3261400000,None,201973267,1583427
299978,1370954857,-184.0000000000,155.00000,53.8010440000,-2.3259100000,None,201973267,1583428
299979,1370954864,-183.0000000000,156.00000,53.8009850000,-2.3255460000,None,201973267,1583429
299980,1370954871,-182.0000000000,157.00000,53.8009180000,-2.3252100000,None,201973267,1583430
299981,1370954877,-182.0000000000,157.00000,53.8008880000,-2.3249050000,None,201973267,1583431
299982,1370954883,-183.0000000000,157.00000,53.8008230000,-2.3245830000,None,201973267,1583432
299983,1370954889,-183.0000000000,158.00000,53.8008300000,-2.3242680000,None,201973267,1583433
299984,1370954895,-183.0000000000,157.00000,53.8008300000,-2.3239790000,None,201973267,1583434
299985,1370954901,-184.0000000000,158.00000,53.8008340000,-2.3236900000,None,201973267,1583435
299986,1370954907,-184.0000000000,156.00000,53.8008470000,-2.3233820000,None,201973267,1583436
299987,1370954914,-185.0000000000,156.00000,53.8008520000,-2.3230270000,None,201973267,1583437
299988,1370954920,-185.0000000000,155.00000,53.8008460000,-2.3227190000,None,201973267,1583438
299989,1370954927,-185.0000000000,155.00000,53.8008280000,-2.3223030000,None,201973267,1583439
299990,1370954935,-186.0000000000,154.00000,53.8007780000,-2.3218680000,None,201973267,1583440
299991,1370954943,-188.0000000000,152.00000,53.8007720000,-2.3214120000,None,201973267,1583441
299992,1370954948,-188.0000000000,152.00000,53.8007530000,-2.3210960000,None,201973267,1583442
299993,1370954955,-189.0000000000,151.00000,53.8007750000,-2.3207090000,None,201973267,1583443
299994,1370954961,-192.0000000000,152.00000,53.8008190000,-2.3203340000,None,201973267,1583444
299995,1370954968,-193.0000000000,151.00000,53.8009510000,-2.3200280000,None,201973267,1583445
299996,1370954976,-193.0000000000,149.00000,53.8011130000,-2.3196760000,None,201973267,1583446
299997,1370954983,-195.0000000000,149.00000,53.8012290000,-2.3193620000,None,201973267,1583447
299998,1370954997,-197.0000000000,150.00000,53.8009080000,-2.3189170000,None,201973267,1583448
299999,1370782940,-215.0000000000,100.00000,53.8007680000,-2.3188620000,None,201013952,1583449

In [ ]:
print df_workouts.count()
print df_users.count()

In [ ]:
wout_ids = get_rdd_workoutids_for_userid(1295505, df_workouts).collect()

#get one workout id from the list
wout_id = wout_ids[0]
print wout_id

#get time series data for that workout
df_workouts_for_user = get_rdd_workout_from_workoutid(wout_id, df_workouts)
    
print df_workouts_for_user.count()

In [ ]:
#fill nans with a value
df4 = df_workouts_for_user.na.fill(0)

In [ ]:
#make each row in the dataframe into feature vector for clustering

vecAssembler = VectorAssembler(inputCols=['altitude',\
 'heart_rate',\
 'latitude',\
 'longitude',\
 'speed'], outputCol="features")
final_df = vecAssembler.transform(df4)
final_df = final_df.select('features')

In [ ]:
#make rows into "dense vectors" for clustering
final_df1 = final_df.rdd\
    .map(lambda row : Vectors.dense([item for item in row]))
final_df1.collect()

In [ ]:
# Build the model (cluster the data. For now only clusteres on datapoints)
clusters = KMeans.train(final_df1, 2, maxIterations=10, initializationMode="random")

# Evaluate clustering by computing Within Set Sum of Squared Errors
# def error(point):
#     center = clusters.centers[clusters.predict(point)]
#     return sqrt(sum([x**2 for x in (point - center)]))

# WSSSE = final_df1.map(lambda point: error(point)).reduce(lambda x, y: x + y)
# print("Within Set Sum of Squared Error = " + str(WSSSE))
# Save and load model
#clusters.save(sc, "target/org/apache/spark/PythonKMeansExample/KMeansModel")
#sameModel = KMeansModel.load(sc, "target/org/apache/spark/PythonKMeansExample/KMeansModel")

In [ ]:
clusters.clusterCenters